* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 1rem;
  --node-width: 100px;
}

main {
  max-width: 70ch;
  margin: auto;
}

horizontal-spacer {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

[movable] {
  cursor: grab;
  position: absolute;
}

triangle-node,
square-node,
hexagon-node {
  display: block;
  width: var(--node-width);
  background: black;
  aspect-ratio: 1;
}

triangle-node {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    50% 0%,
    100% 100%,
    calc(50% - 0px) calc(0% - -10px),
    calc(0% - -8.66px) calc(100% - 5px),
    calc(100% - 8.66px) calc(100% - 5px),
    calc(50% - 0px) calc(0% - -10px)
  );

  &[filled] {
    clip-path: polygon(93.3% 75%, 6.7% 75%, 50% 0%);
  }
}

square-node:not([filled]) {
  background: none;
  border: 5px solid black;
}

hexagon-node {
  clip-path: polygon(
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%,
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    calc(75% - 2.5px) calc(6.7% - -4.33px),
    calc(25% - -2.5px) calc(6.7% - -4.33px),
    calc(0% - -5px) calc(50% - 0px),
    calc(25% - -2.5px) calc(93.3% - 4.33px),
    calc(75% - 2.5px) calc(93.3% - 4.33px),
    calc(100% - 5px) calc(50% - 0px),
    calc(75% - 2.5px) calc(6.7% - -4.33px)
  );

  &[filled] {
    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
  }
}

perfect-arrow,
retargetable-arrow,
propagator-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

propagator-arrow[name]::after {
  content: attr(name);
  display: inline-block;
  position: absolute;
  top: var(--cy);
  left: var(--cx);
  /* transform: rotate(var(--ac)) translateX(-50%); */
  background: white;
  padding: 0.1rem;
}

prop-agator {
  display: block;
  border: 2px solid black;
  font-family: monospace;
  width: 150px;
  height: 2rem;
  border-radius: 5px;

  &::before {
    content: attr(expression);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 2;
  }
}

input {
  width: 100px;
}
