* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  height: 100%;
  /* font-display: swap; */
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 1rem;
  --node-width: 100px;
}

main {
  max-width: 70ch;
  margin: auto;
}

horizontal-spacer {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

[movable] {
  cursor: grab;
  position: absolute;
}

square-node {
  display: block;
  width: var(--node-width);
  aspect-ratio: 1;
  border: 5px solid black;
}

perfect-arrow,
retargetable-arrow,
propagator-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

propagator-arrow[name]::after {
  content: attr(name);
  display: inline-block;
  position: absolute;
  top: var(--cy);
  left: var(--cx);
  /* transform: rotate(var(--ac)) translateX(-50%); */
  background: white;
  padding: 0.1rem;
}

prop-agator {
  display: block;
  border: 2px solid black;
  font-family: monospace;
  width: 150px;
  height: 2rem;
  border-radius: 5px;

  &::before {
    content: attr(expression);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 2;
  }
}

input {
  width: 100px;
}
